<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    <meta property="description" content="{{page.description}}"/>
    <meta property="og:url" content="http://{{site.home}}{{page.url}}"/>
    <meta property="og:image" content="{{page.og_image_url}}"/>
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{page.description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="vgulp"/>
    <link rel="stylesheet" type="text/css" href="/assets/blog/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/blog/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="/assets/blog/css/bootstrap.css" />

</head>
<body class="home-template">
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=257634254384727";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header id="site-head" style="background-image: url({{site.url}}/assets/blog/images/cocktail.jpg)">
<div class="vertical">
    <div id="site-head-content" class="inner">
        <a id="blog-logo" href="/blog"><img src="{{site.url}}/images/vgulp-logo.jpg" alt="Blog Logo" /></a>{{/if}}
        <h1 class="blog-title">Gulp Mag</h1>
        <h2 class="blog-description">Gulp Mag | An Emerging Blog for Drink Lovers</h2>
    </div>
</div>
</header>

<div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 col-lg-offset-2 col-sm-offset-0 col-md-offset-0">
        {% assign author = site.authors[page.author] %}
        <span class="post-meta">{{author.display_name}},&nbsp;<time datetime="{{page.date}}">{{page.date|date: "%-d %B %Y"}}</time> {{page.tags}}</span>
        <div class="row">
            <div class="col-lg-12">
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="http://{{site.home}}{{page.url}}"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_linkedin_counter"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                    <a class="addthis_counter addthis_pill_style"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>{{page.title}}</h1>
                {{content}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="http://{{site.home}}{{page.url}}"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_linkedin_counter"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                    <a class="addthis_counter addthis_pill_style"></a>
                </div>

            </div>
        </div>
        <footer class="post-footer">
            <section class="author">
                <h4>{% if author.gravatar!="" %}
                    <img class="img-circle" src="http://www.gravatar.com/avatar/{{author.gravatar}}?s=48&d=404"/>
                    {% endif %}
                    {{author.display_name}}</h4>
                <p>{{author.bio}}</p>
            </section>

        </footer>
        <div id="disqus_thread"></div>

    </div>
    <div class="col-lg-3 visible-lg hidden-md hidden-sm">
        <div id="fb-root"></div>
        <div class="fb-facepile" data-href="http://facebook.com/vgulp" data-max-rows="3" data-colorscheme="dark" data-size="large" data-show-count="true"></div>
    </div>

</div>

<footer class="site-footer">
    <div class="inner">
        <section class="copyright">All content copyright <a href="/blog">Gulp mag</a> &copy; 2014 &bull; All rights reserved.</section>
    </div>
</footer>
<script type="text/javascript">var switchTo5x=false;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "90dcd702-a013-45a5-aecc-ea34cf513ee3",onhover: false,shorten:false});</script>
<script type="text/javascript">
    var disqus_shortname = 'gulpmag'; // required: replace example with your forum shortname
    var disqus_identifier = '{{page.id}}'; // make sure to use the post.id as an identifier, otherwise disqus will use the pages url per default, which might be problematic...

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e748b24d6c11f6"></script>
<script src="https://repository.chatwee.com/scripts/801af2f26c7b98d4cc00d1e43c541739.js" type="text/javascript" charset="UTF-8"></script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</body>
</html>